*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.head{
    width: 100%;
    margin: 1rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 20px;
    background-image: url(./group\ 7\ cit.jpg);
    background-size: cover;
    color: rgba(250, 235, 215, 0.884);
    border-radius: 15px;

}

.nav-links{
    
    display:flex;
    flex-direction: column;
    flex-basis: 9px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-links a{
    color: rgb(250, 235, 215);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5px;
    
}

.nav a:hover{
    color: rgb(185, 11, 147);
    background-color: aliceblue;
}
.now{
  
    font-size: xx-large;
    color:#fff4f4;
}

/* topics */
.fontend{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1rem;
}
.backend{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1rem;
}
.mobileapp{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1rem;
}

/* ticket section */
.vticket{
    width: 350px;
    height: 300px;
    background-color: #2aafe2ff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 30px;
}
.vticket a{
    display: flex;
    padding: 7px;
    align-items: flex-end;
    text-decoration: none;
    color: yellow;

}
.multi{
    width: 350px;
    height: 300px;
    background-color:#2ed8f9ff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 30px;
}
.multi a{
    text-decoration: none;
    color: yellow;
}
.single{
    width: 350px;
    height: 300px;
    background-color: #67aaf9ff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 30px;
}
.single a{
    text-decoration: none;
    color: rgb(218, 233, 3);
}

/* sponser */
.sponsers{
    width:400px;
    margin: 1.5rem;
    padding: 20px;
}
/* shedule */


.event{
    margin: 20px;
    padding: 12px;
    border: 2px solid #111;
    display: block;

}
.venue{
    margin: 20px;
    border-radius: 7px;

}




 /* footer */
 .footer{
    width: 300px;
    margin:2rem ;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border: 1px solid #111;
 }
.contact{
    width: 200px;
    height: 100px;
   
    
    
}
.social-icons{
    padding: 20px;
    margin: 10px;

}
.news{
    width: 200px;
    height: 100px;
   
}
/* copy footer */
.copy{
    opacity: 0.7;
}


/* ticket page */
    .form{
        margin: 20px;
        padding: 13px;
        border: 1px solid #111;
    }
    .form input{
        padding: 9px;
        margin: 4px;
        border-radius: 10px;
        width: 10rem;
    }
    button{
        padding: 10px;
        border-radius: 7px;
        display: block;
        margin-top: 10px;
    }
    .vticket{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* webinar */
    .web{
        border-radius: 50%;
        margin-left: 20px;
    }
    figure{
        margin: 20px;
    }



    /* footer*/
    .footer{
        display: flex;
        flex-direction:column ;

    }




 /* media quary// small screen */
    @media (max-width:700px) {
      .nav-links a{
        color: rgb(250, 235, 215);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5px;
        font-size: 20px;
    

      } 
      .nav-links a:hover{
        color: rgb(185, 11, 147);
        background-color: aliceblue;
    }
    .venue{
        width: 350px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .event{
        width: 350px;
        
    }





}



    /* big screen */
    @media (min-width:1200px) {
        section{
        display: flex;
        flex-direction: row;
    }
    .head{
        background-size:cover;
        margin: 0;
    }
    .image{
        display: flex;
        flex-direction: row;
        margin: 10px;
    
    }
    .nav-links {
        color: rgb(250, 235, 215);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 5px;
        font-size: 20px;
    

      } 
      .nav-links a:hover{
        color:#2ed8f9ff;
        background-color: aliceblue;
    }

    img{
        width: 350px;
        border-radius: 0;
        margin: 10px;
        display: block;
    }
    h3{
        opacity: 0.0px;
        color: azure;
    }
    .footer{
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-evenly;
    }
    .contact{
        width: 300px;
    }
    .social-icons{
        width: 300px;
    }
    .news{
        width: 300px;
    }

}
